*{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#picture {
  margin: 20px;
  border: 5px solid rgb(43, 75, 47);
}

body{
  background-color: rgb(48, 38, 32);
  height: 100%;
  min-height: 100%;
}

.link {
  color: white;
  margin: 10px;
}

header {
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgb(38, 73, 38);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: inline;
  z-index: 100;
}

section {
  position: relative;
  top: 130px;
  text-align: center; 
}

figure{
  position: relative;
  top: 130px;
  text-align: center;
}

.main {
  margin: 20px;
}

#contact-form {
  background-color: rgba(38, 73, 38, 0.733);
  width: 100%;
  
}

label {
  display: block;
  color: white;
}

input {
  margin: 10px;
}

footer {
  background-color: rgb(38, 73, 38);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}